.Bubble {
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 14px;
    box-shadow: 0px 1px 12px rgba(158, 158, 158, 0.295);
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 45%;
    margin-bottom: 25px;
    cursor: pointer;
}

.Bubble .MuiTypography-button {
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
}

.Bubble .MuiTypography-root span {
    color: rgba(0, 0, 0, 0.548);
    margin-left: 5px;
}

.Bubble--url {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Bubble--menu {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9;
    background-color: white;
    border-radius: 50%;
}

.Bubble--menu button {
    padding: 7.5px;
}

.Bubble--editgroup {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
}

.Bubble--editgroup button {
    margin-left: 10px;
}

.Bubble.wide {
    width: 100%;
}

.Bubble .Toggle {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .Bubble {
        width: 100%;
    }
}
