.Left {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100%;
  position: fixed;
  box-shadow: 0px 1px 3px rgba(158, 158, 158, 0.295);
}

.Left--title {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
  padding-left: 15px;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  border-bottom: 1px solid #dcdcdc63;
}

.Left a {
  text-decoration: none;
}
.Left a.active button {
  background-color: #c5c5c565;
}

.Left button {
  padding-left: 15px;
  border-radius: 0 !important;
  justify-content: flex-start;
}
