.Left {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
    position: fixed;
    border-right: 1px solid lightgray;
}

.Left--title {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    padding-left: 15px;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    border-bottom: 1px solid #dcdcdc63;
}

.Left a {
    text-decoration: none;
}
.Left a.active button {
    background-color: #c5c5c565;
}

.Left button {
    padding-left: 15px;
    border-radius: 0 !important;
    justify-content: flex-start;
}
